In [1]:
import numpy as np
import pandas as pd
import joblib

In [2]:
data = pd.read_csv("../algebra_2008_2009_train_trimmed3_remove_duplicates_sorted.csv", delimiter='\t')

In [3]:
data.describe(include='all')

,Anon Student Id,Problem Name,Problem View,Step Name,First Transaction Time,Correct First Attempt,Incorrects,Hints,Corrects,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules),Unit,Sections
count,8483920,8483920,8.483920e+06,8483920,8483920,8.483920e+06,8.483920e+06,8.483920e+06,8.483920e+06,6204248,6204248,4296385,4296385,8201432,8201432,8483920,8483920
unique,3310,188368,NaN,700635,823557,NaN,NaN,NaN,NaN,1815,910506,921,157173,2780,10780,42,165
top,stu_ea97537407,L5FB16,NaN,FinalAnswer,2009-04-27 12:55:20.0,NaN,NaN,NaN,NaN,Bogus skill,1,Entering a given-1,1,DISTANCE-MIDPOINT-PREFILLED-BOGUS-HINT,1,Unit CTA1_02,Section CTA1_02-2
freq,15608,52755,NaN,255762,109,NaN,NaN,NaN,NaN,408686,229924,440356,243040,408686,436844,715873,527203
mean,NaN,NaN,1.091596e+00,NaN,NaN,8.595012e-01,3.432128e-01,8.589826e-02,1.008225e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,3.611967e-01,NaN,NaN,3.475039e-01,3.904958e+00,4.622137e-01,3.963328e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000e+00,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,1.000000e+00,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,1.000000e+00,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,1.000000e+00,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,1.800000e+01,NaN,NaN,1.000000e+00,9.620000e+03,9.000000e+01,2.400000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
validation = []


previous_idunit = "".join([data['Anon Student Id'][0], data['Unit'][0]])
for i in range(1, len(data)):
    current_idunit = "".join([data['Anon Student Id'][i], data['Unit'][i]])
    if current_idunit != previous_idunit:
        subtractor = 1
        prob = data['Problem Name'][i-1]
        while data['Problem Name'][i-subtractor] == prob and "".join([data['Anon Student Id'][i-subtractor], 
                                                                      data['Unit'][i-subtractor]]) == previous_idunit:
            validation.append(i-subtractor)
            subtractor += 1
    previous_idunit = current_idunit
    if i%500000 == 0:
        print i

subtractor = 1
prob = data['Problem Name'][i-1]
while data['Problem Name'][i-subtractor] == prob and "".join([data['Anon Student Id'][i-subtractor], 
                                                              data['Unit'][i-subtractor]]) == previous_idunit:
    validation.append(i-subtractor)
    subtractor += 1

500000
1000000
1500000
2000000
2500000
3000000
3500000
4000000
4500000
5000000
5500000
6000000
6500000
7000000
7500000
8000000

In [5]:
validation = sorted(validation)
validation_set = set(validation)
training = [i for i in range(len(data)) if i not in validation_set]

In [6]:
validation = np.array(validation)
training = np.array(training)

In [10]:
joblib.dump((training, validation), 'Pickles/cv_indices', compress=3)

['../algebra_2005_2008_pickles/cv_indices']

In [19]:
validation[:20]

array([ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40, 256, 257, 258,
       259, 260, 261, 650, 651, 652, 653])